<!-- Footer Starts -->
    <footer>
      <div class="footer-top pad-bottom-20">
        <div class="container">
          <div class="footer-logo text-center">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Image" />
          </div>
          <div class="footer-content">
            <div class="row">
              <div class="col-lg-3 col-md-6 mar-bottom-30">
                <div class="footer-payment">
                  <h4>Aceptamos</h4>
                  <ul>
                    <li><img src="{{ url_for('static', filename='images/icons/visa.png') }}" alt="image" /></li>
                    <li><img src="{{ url_for('static', filename='images/icons/mastercard.png') }}" alt="image" /></li>
                    <li><img src="{{ url_for('static', filename='images/icons/americanexpress.png') }}" alt="image" /></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mar-bottom-30">
                <div class="quick-links">
                  <h4>Enlaces Rápidos</h4>
                  <ul>
                    <li><a href="{{ url_for('public.index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('public.nosotros') }}">Nosotros</a></li>
                    <li><a href="{{ url_for('habitaciones.lista') }}">Habitaciones</a></li>
                    <li><a href="{{ url_for('public.galeria') }}">Galería</a></li>
                    <li><a href="{{ url_for('public.contacto') }}">Contacto</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mar-bottom-30">
                <div class="Rooms">
                  <h4>Páginas</h4>
                  <ul>
                    <li><a href="{{ url_for('public.servicios') }}">Servicios</a></li>
                    <li><a href="{{ url_for('public.faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('public.testimonios') }}">Testimonios</a></li>
                    <li><a href="{{ url_for('public.terminos') }}">Términos y Condiciones</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mar-bottom-30">
                <div class="footer-contact">
                  <h4>Contacto</h4>
                  <ul>
                    <li>Tel: 977-222-444-6666</li>
                    <li>Email: info@hotux.com.np</li>
                    <li>Fax: 977-222-444-666</li>
                    <li>Address: 445 Mount Eden Road, Sundarbasti, Chakrapath</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright pad-bottom-20">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mar-bottom-10">
              <div class="copyright-content">
                <p>Copyright 2019. Made with <span>♥</span>. All Rights Reserved. <a href="#">Hotux</a></p>
                <ul>
                  <li>
                    <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 mar-bottom-10">
              <div class="tripadvisor-logo text-center">
                <img src="{{ url_for('static', filename='images/tripadvisor.png') }}" alt="image" />
              </div>
            </div>
            <div class="col-lg-4 mar-bottom-10">
              <div class="copyright-links mar-bottom-20">
                <ul>
                  <li><a href="{{ url_for('habitaciones.lista') }}">Habitaciones</a></li>
                  <li><a href="{{ url_for('habitaciones.lista') }}">Reservar</a></li>
                  <li><a href="{{ url_for('public.terminos') }}">Términos y Condiciones</a></li>
                </ul>
              </div>
              <div class="playstore-links">
                <img src="{{ url_for('static', filename='images/icons/appstore.png') }}" alt="image" class="mar-right-10" />
                <img src="{{ url_for('static', filename='images/icons/googleplay.png') }}" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Ends -->

    <!-- Back to top start -->
    <div id="back-to-top">
      <a href="#"></a>
    </div>
    <!-- Back to top ends -->

    <div class="modal fade" id="login" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content login-content">
          <div class="login-image">
            <img src="{{ url_for('static', filename='images/logo-black.png') }}" alt="image" />
          </div>
          <h3>Hello!Sign into your account</h3>
          <form>
            <div class="form-group">
              <input type="email" placeholder="Enter email address" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Enter password" />
            </div>
            <div class="form-group form-checkbox">
              <input type="checkbox" /> Remember Me
              <a href="#">Forgot password?</a>
            </div>
          </form>
          <div class="form-btn">
            <a href="#" class="btn btn-orange">LOGIN</a>
            <p>Need an Account?<a href="#"> Create your Hotux account</a></p>
          </div>
          <ul class="social-links">
            <li>
              <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="modal fade" id="register" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content login-content">
          <div class="login-image">
            <img src="{{ url_for('static', filename='images/logo-black.png') }}" alt="image" />
          </div>
          <h3>Awesome! Create a Hotux Account</h3>
          <form>
            <div class="form-group">
              <input type="text" placeholder="Enter username" />
            </div>
            <div class="form-group">
              <input type="email" placeholder="Enter email address" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Enter password" />
            </div>
            <div class="form-group">
              <input type="password" placeholder="Confirm password" />
            </div>
          </form>
          <div class="form-btn">
            <a href="#" class="btn btn-orange">SIGN UP</a>
          </div>
          <ul class="social-links">
            <li>
              <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
