{% extends "base.html" %}

{% block title %}Sobre Nosotros | Hotux{% endblock %}

{% block breadcrumb %}
<section class="breadcrumb-outer">
  <div class="container">
    <div class="breadcrumb-content">
      <h2>Sobre Nosotros</h2>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('public.index') }}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Sobre Nosotros</li>
        </ul>
      </nav>
    </div>
  </div>
</section>
{% endblock %}
<!-- about starts -->
{% block content %}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="about-para mar-top-50">
          <h3>Acerca de Hotux</h3>
          <h4>Creemos que cada viaje merece convertirse en una experiencia inolvidable</h4>
          <p>
            Nos apasiona recibir a cada huésped con calidez y dedicación, porque sabemos que viajar implica mucho más que descansar:
            es descubrir, conectar y sentirse parte de un lugar. Por eso, nuestro equipo está siempre dispuesto a acompañarte, ya sea 
            recomendadno actividades locales, atendiendo tus necesidades o simplemente asegurándose de que te sientas como en casa.
          </p>
          <h5 class="text-capitalize">
            Cada estadía es una oportunidad para compartir nuestra pasión por la hospitalidad y dejarte recuerdos que te inviten a volver. </h5>
          <div class="about-para-list mar-top-20">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="about-icon"><i class="fa fa-chess-queen"></i> Naturaleza Asombrosa</div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="about-icon"><i class="fa fa-reina del ajedrez"></i> Mejor Hotel Galardonado</div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="about-icon"><i class="fa fa-chess-queen"></i> Reserva en Línea</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="about-us-image mar-top-50">
          <img src="{{ url_for('static', filename='images/gallery/gallery1.jpg', external=True) }}" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about Ends -->

<!-- about Faq Starts -->
<section class="about-faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="about-us-image">
          <img src="{{ url_for('static', filename='images/gallery/gallery2.jpg', external=True) }}" alt="image" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="info-detail">
          <div class="accrodion-grp" data-grp-name="faq-accrodion">
            <div class="accrodion active">
              <div class="accrodion-title">
                <h4>¿Cuál es el horario de check-in y check-out?</h4>
              </div>
              <div class="accrodion-content" style="display: block">
                <div class="inner">
                  <p>
                    El check-in es a partir de las 14:00 hs y el check-out hasta las 11:00 hs.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>¿Se aceptan mascotas?</h4>
              </div>
              <div class="accrodion-content" style="display: none">
                <div class="inner">
                  <p>
                    Sí, aceptamos mascotas pequeñas con reserva previa y condiciones específicas.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>¿Hay estacionamiento disponible?</h4>
              </div>
              <div class="accrodion-content" style="display: none">
                <div class="inner">
                  <p>
                    Contamos con estacionamiento privado sin cargo adicional para huéspedes.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>¿El hotel tiene Wi-Fi gratuito?</h4>
              </div>
              <div class="accrodion-content" style="display: none">
                <div class="inner">
                  <p>
                    Sí, ofrecemos conexión Wi-Fi de alta velocidad en todas las áreas.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>¿El desayuno está incluido?</h4>
              </div>
              <div class="accrodion-content" style="display: none">
                <div class="inner">
                  <p>
                    En la mayoria de nuestras tarifas, si. También ofrecemos opciones sin desayuno.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>¿Ofrecen traslados al aeropuerto?</h4>
              </div>
              <div class="accrodion-content" style="display: none">
                <div class="inner">
                  <p>
                    Sí, con costo adicional. Se puede solicitar al momento de la reserva.
                  </p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
            <div class="accrodion">
              <div class="accrodion-title">
                <h4>¿Hay habitaciones adaptadas para personas con movilidad reducida?</h4>
              </div>
              <div class="accrodion-content" style="display: none">
                <div class="inner">
                  <p>
                    Sí, contamos con habitaciones accesibles y rampas en zonas comunes.</p>
                </div>
                <!-- /.inner -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about Faq Ends -->

<!-- about video starts -->
<section class="video-box">
  <div class="container">
    <div class="section-title">
      <h3 class="white mar-0">Haz un recorrido</h3>
      <div class="call-button">
        <button type="button" class="play-btn js-video-button" data-video-id="347309186" data-channel="vimeo"><i
            class="fa fa-play"></i></button>
      </div>
      <div class="video-figure"></div>
      <h4 class="white mar-0">de nuestro maravilloso complejo turístico</h4>
    </div>
  </div>
</section>
<!-- about video Ends -->

<!-- about team starts-->
<section class="about-team">
  <div class="container">
    <div class="section-title">
      <h2> Explorar <span>equipo</span></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor
        vulputate quam donec vitae consectetur
        turpis
      </p>
    </div>
    <div class="row team-slider">
      <div class="col-md-4">
        <div class="team-item">
          <div class="team-image">
            <img src="{{ url_for('static', filename='images/team1.jpg', external=True) }}" alt="image" />
          </div>
          <div class="team-content">
            <h4>John Anderson</h4>
            <p>Ceo and Founder</p>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-item">
          <div class="team-image">
            <img src="{{ url_for('static', filename='images/team2.jpg', external=True) }}" alt="image" />
          </div>
          <div class="team-content">
            <h4>Erina Gray</h4>
            <p>Managing Director</p>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-item">
          <div class="team-image">
            <img src="{{ url_for('static', filename='images/team3.jpg', external=True) }}" alt="image" />
          </div>
          <div class="team-content">
            <h4>Micheal Carter</h4>
            <p>Supervisor</p>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team-item">
          <div class="team-image">
            <img src="{{ url_for('static', filename='images/team4.jpg', external=True) }}" alt="image" />
          </div>
          <div class="team-content">
            <h4>Nelson Roar</h4>
            <p>Gerente de proyecto</p>
            <ul class="social-links">
              <li>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about team Ends -->

<!-- Reviews Starts -->
<section class="reviews">
  <div class="container">
    <div class="section-title title-white">
      <h2> Explorar <span>Reseñas</span></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor
        vulputate quam donec vitae consectetur
        turpis
      </p>
    </div>
    <div class="review-slider">
      <div class="slider-item">
        <div class="slider-image">
          <img src="{{ url_for('static', filename='images/review1.jpg', external=True) }}" alt="image" />
        </div>
        <div class="slider-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas.
            Sed egestas sapien libero.</p>
          <h4>Micheal Clordy</h4>
          <span>Germany</span>
        </div>
        <div class="slider-quote">
          <img src="{{ url_for('static', filename='images/icons/quote.png', external=True) }}" alt="Image" />
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-image">
          <img src="{{ url_for('static', filename='images/review2.jpg', external=True) }}" alt="image" />
        </div>
        <div class="slider-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas.
            Sed egestas sapien libero.</p>
          <h4>Ketty Perry</h4>
          <span>Australia</span>
        </div>
        <div class="slider-quote">
          <img src="{{ url_for('static', filename='images/icons/quote.png', external=True) }}" alt="Image" />
        </div>
      </div>
      <div class="slider-item">
        <div class="slider-image">
          <img src="{{ url_for('static', filename='images/review1.jpg', external=True) }}" alt="image" />
        </div>
        <div class="slider-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas.
            Sed egestas sapien libero.</p>
          <h4>Micheal Clordy</h4>
          <span>Germany</span>
        </div>
        <div class="slider-quote">
          <img src="{{ url_for('static', filename='images/icons/quote.png', external=True) }}" alt="Image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Reviews Ends -->

<!-- Services Starts -->
<section class="services pad-bottom-70">
  <div class="container">
    <div class="section-title">
      <h2> Explorar <span>Servicios</span></h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor
        vulputate quam donec vitae consectetur
        turpis
      </p>
    </div>
    <div class="service-outer">
      <div class="row">
        <div class="col-lg-4 col-md-12 mar-bottom-30">
          <div class="service-item">
            <div class="service-image">
              <img src="{{ url_for('static', filename='images/service1.jpg', external=True) }}" alt="Image" />
            </div>
            <div class="service-content">
              <h4><a href="#restaurante">Restaurante</a></h4>
              <p>Desayuno y cena</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mar-bottom-30">
          <div class="service-item">
            <div class="service-image">
              <img src="{{ url_for('static', filename='images/service2.jpg', external=True) }}" alt="Image" />
            </div>
            <div class="service-content">
              <h4><a href="#masajes">Masaje</a></h4>
              <p>Abierto todos los días</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mar-bottom-30">
          <div class="service-item">
            <div class="service-image">
              <img src="{{ url_for('static', filename='images/service3.jpg', external=True) }}" alt="Image" />
            </div>
            <div class="service-content">
              <h4><a href="#conferencias">Sala de conferencias</a></h4>
              <p>Aire acondicionado</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Ends -->
{% endblock %}
