{% extends "base.html" %}
{% block title %}Servicios | Hotux{% endblock %}

{% block breadcrumb %}
<section class="breadcrumb-outer">
  <div class="container">
    <div class="breadcrumb-content">
      <h2>Servicios</h2>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('public.index') }}">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Servicios</li>
        </ul>
      </nav>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section class="amenities">
  <div class="container">
    <div class="section-title">
      <h3>Explora nuestras <span>Comodidades</span></h3>
    </div>
    <div class="amenities-content">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="amt-item mar-bottom-30">
            <div class="amt-icon"><i class="fa fa-glass"></i></div>
            <h4>Bar privado</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="amt-item mar-bottom-30">
            <div class="amt-icon"><i class="fa fa-car"></i></div>
            <h4>Transporte</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="amt-item mar-bottom-30">
            <div class="amt-icon"><i class="fa fa-wifi"></i></div>
            <h4>Wifi gratuito</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="amt-item mar-bottom-30">
            <div class="amt-icon"><i class="fa fa-bath"></i></div>
            <h4>Servicio de lavandería</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="amt-item">
            <div class="amt-icon"><i class="fa fa-cogs"></i></div>
            <h4>Servicio rápido</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="amt-item">
            <div class="amt-icon"><i class="fa fa-map-marker"></i></div>
            <h4>Mapa de la ciudad</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="amt-item">
            <div class="amt-icon"><i class="fa fa-life-ring"></i></div>
            <h4>Piscina</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="amt-item">
            <div class="amt-icon"><i class="fa fa-bolt"></i></div>
            <h4>Libre de humo</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="detail-features">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="feature-image">
          <img src="{{ url_for('static', filename='images/feature1.jpg') }}" alt="imagen" />
        </div>
        <div class="feature-content">
          <img src="{{ url_for('static', filename='images/icons/ficon1.png') }}" alt="imagen" />
          <h4><a href="#" class="white">Gimnasio</a></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="feature-image">
          <img src="{{ url_for('static', filename='images/feature2.jpg') }}" alt="imagen" />
        </div>
        <div class="feature-content">
          <img src="{{ url_for('static', filename='images/icons/ficon2.png') }}" alt="imagen" />
          <h4><a href="#" class="white">Playa privada</a></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="feature-image">
          <img src="{{ url_for('static', filename='images/feature3.jpg') }}" alt="imagen" />
        </div>
        <div class="feature-content">
          <img src="{{ url_for('static', filename='images/icons/ficon3.png') }}" alt="imagen" />
          <h4><a href="#" class="white">Alquiler de bicicletas</a></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="feature-item">
        <div class="feature-image">
          <img src="{{ url_for('static', filename='images/feature4.jpg') }}" alt="imagen" />
        </div>
        <div class="feature-content">
          <img src="{{ url_for('static', filename='images/icons/ficon4.png') }}" alt="imagen" />
          <h4><a href="#" class="white">Restaurante</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services pad-bottom-70">
  <div class="container">
    <div class="section-title">
      <h2>Otros <span>Servicios</span></h2>
      <p>Descubrí todo lo que tenemos preparado para hacer tu estadía más cómoda, práctica y especial. Nuestros servicios estan pensados para acompañarte en cada momento de tu viaje.
      </p>
    </div>
    <div class="service-outer">
      <div class="row">
        <div class="col-lg-4 col-md-12 mar-bottom-30">
          <div class="service-item">
            <div class="service-image">
              <img src="{{ url_for('static', filename='images/service1.jpg') }}" alt="imagen" />
            </div>
            <div class="service-content">
              <h4><a href="#restaurante">Restaurante</a></h4>
              <p>Desayuno y cena</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mar-bottom-30">
          <div class="service-item">
            <div class="service-image">
              <img src="{{ url_for('static', filename='images/service2.jpg') }}" alt="imagen" />
            </div>
            <div class="service-content">
              <h4><a href="#masajes">Masajes</a></h4>
              <p>Abierto todos los días</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mar-bottom-30">
          <div class="service-item">
            <div class="service-image">
              <img src="{{ url_for('static', filename='images/service3.jpg') }}" alt="imagen" />
            </div>
            <div class="service-content">
              <h4><a href="#conferencias">Sala de conferencias</a></h4>
              <p>Aire acondicionado</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
