{% extends 'base.html' %}

{% block content %}

  <section class="breadcrumb-outer">
    <div class="container">
      <div class="breadcrumb-content">
        <h2>Testimonial</h2>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Testimonial</li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <section class="testimonial">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review1.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review2.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review3.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review1.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review2.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review3.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review1.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="slider-item">
            <div class="slider-image">
              <img src="{{ url_for('static', filename='images/review2.jpg') }}" alt="image" />
            </div>
            <div class="slider-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tortor vitae nisi pharetra egestas. Sed egestas sapien libero.</p>
              <h4>Micheal Clordy</h4>
              <span>Germany</span>
            </div>
            <div class="slider-quote">
              <img src="{{ url_for('static', filename='images/icons/quote.png') }}" alt="Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}